trunk/RSSFeedWeb/Service References/AccountService/AccountManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RSSFeedAccountManager.DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RSSFeedAccountManager.DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="USER">
    <xs:sequence>
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:ArrayOfFEED" />
      <xs:element minOccurs="0" name="ITEM" nillable="true" type="tns:ArrayOfITEM" />
      <xs:element minOccurs="0" name="ROLE" nillable="true" type="tns:ROLE" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="tns:STATUS" />
      <xs:element minOccurs="0" name="role_id" type="xs:long" />
      <xs:element minOccurs="0" name="status_id" type="xs:long" />
      <xs:element minOccurs="0" name="user_connected" type="xs:short" />
      <xs:element minOccurs="0" name="user_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:long" />
      <xs:element minOccurs="0" name="user_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USER" nillable="true" type="tns:USER" />
  <xs:complexType name="ArrayOfFEED">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FEED" nillable="true" type="tns:FEED" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFEED" nillable="true" type="tns:ArrayOfFEED" />
  <xs:complexType name="FEED">
    <xs:sequence>
      <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="tns:CATEGORY" />
      <xs:element minOccurs="0" name="ITEM" nillable="true" type="tns:ArrayOfITEM" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:ArrayOfUSER" />
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="feed_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_id" type="xs:long" />
      <xs:element minOccurs="0" name="feed_link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FEED" nillable="true" type="tns:FEED" />
  <xs:complexType name="CATEGORY">
    <xs:sequence>
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:ArrayOfFEED" />
      <xs:element minOccurs="0" name="category_id" type="xs:long" />
      <xs:element minOccurs="0" name="category_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CATEGORY" nillable="true" type="tns:CATEGORY" />
  <xs:complexType name="ArrayOfITEM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ITEM" nillable="true" type="tns:ITEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfITEM" nillable="true" type="tns:ArrayOfITEM" />
  <xs:complexType name="ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:FEED" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:ArrayOfUSER" />
      <xs:element minOccurs="0" name="feed_id" type="xs:long" />
      <xs:element minOccurs="0" name="item_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_id" type="xs:long" />
      <xs:element minOccurs="0" name="item_link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITEM" nillable="true" type="tns:ITEM" />
  <xs:complexType name="ArrayOfUSER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USER" nillable="true" type="tns:USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSER" nillable="true" type="tns:ArrayOfUSER" />
  <xs:complexType name="ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:ArrayOfUSER" />
      <xs:element minOccurs="0" name="role_id" type="xs:long" />
      <xs:element minOccurs="0" name="role_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ROLE" nillable="true" type="tns:ROLE" />
  <xs:complexType name="STATUS">
    <xs:sequence>
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:ArrayOfUSER" />
      <xs:element minOccurs="0" name="status_id" type="xs:long" />
      <xs:element minOccurs="0" name="status_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STATUS" nillable="true" type="tns:STATUS" />
</xs:schema>