RSSFeedDesktop/Service References/RSSAccountManagerService/RssFeedAccountManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RSSFeedService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RSSFeedService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3152/RssFeedAccountManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoClient" />
      <xs:enumeration value="WebClient" />
      <xs:enumeration value="DesktopClient" />
      <xs:enumeration value="MobileClient" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="USER">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:TrackableCollectionOfFEEDAjaB2cDg" />
      <xs:element minOccurs="0" name="ITEM" nillable="true" type="tns:TrackableCollectionOfITEMAjaB2cDg" />
      <xs:element minOccurs="0" name="ROLE" nillable="true" type="tns:ROLE" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="tns:STATUS" />
      <xs:element minOccurs="0" name="role_id" type="xs:long" />
      <xs:element minOccurs="0" name="status_id" type="xs:long" />
      <xs:element minOccurs="0" name="user_connected" type="xs:short" />
      <xs:element minOccurs="0" name="user_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:long" />
      <xs:element minOccurs="0" name="user_key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_password" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="USER" nillable="true" type="tns:USER" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="TrackableCollectionOfFEEDAjaB2cDg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FEED" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FEED" nillable="true" type="tns:FEED" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfFEEDAjaB2cDg" nillable="true" type="tns:TrackableCollectionOfFEEDAjaB2cDg" />
  <xs:complexType name="FEED">
    <xs:sequence>
      <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="tns:CATEGORY" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ITEM" nillable="true" type="tns:TrackableCollectionOfITEMAjaB2cDg" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:TrackableCollectionOfUSERAjaB2cDg" />
      <xs:element minOccurs="0" name="category_id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="feed_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_id" type="xs:long" />
      <xs:element minOccurs="0" name="feed_link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="feed_title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="FEED" nillable="true" type="tns:FEED" />
  <xs:complexType name="CATEGORY">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:TrackableCollectionOfFEEDAjaB2cDg" />
      <xs:element minOccurs="0" name="category_id" type="xs:long" />
      <xs:element minOccurs="0" name="category_name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CATEGORY" nillable="true" type="tns:CATEGORY" />
  <xs:complexType name="ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:TrackableCollectionOfUSERAjaB2cDg" />
      <xs:element minOccurs="0" name="role_id" type="xs:long" />
      <xs:element minOccurs="0" name="role_name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ROLE" nillable="true" type="tns:ROLE" />
  <xs:complexType name="TrackableCollectionOfUSERAjaB2cDg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="USER" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USER" nillable="true" type="tns:USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfUSERAjaB2cDg" nillable="true" type="tns:TrackableCollectionOfUSERAjaB2cDg" />
  <xs:complexType name="ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FEED" nillable="true" type="tns:FEED" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:TrackableCollectionOfUSERAjaB2cDg" />
      <xs:element minOccurs="0" name="feed_id" type="xs:long" />
      <xs:element minOccurs="0" name="item_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_id" type="xs:long" />
      <xs:element minOccurs="0" name="item_link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ITEM" nillable="true" type="tns:ITEM" />
  <xs:complexType name="STATUS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:TrackableCollectionOfUSERAjaB2cDg" />
      <xs:element minOccurs="0" name="status_id" type="xs:long" />
      <xs:element minOccurs="0" name="status_name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="STATUS" nillable="true" type="tns:STATUS" />
  <xs:complexType name="TrackableCollectionOfITEMAjaB2cDg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ITEM" Namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ITEM" nillable="true" type="tns:ITEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfITEMAjaB2cDg" nillable="true" type="tns:TrackableCollectionOfITEMAjaB2cDg" />
</xs:schema>