RSSFeedDesktop/Service References/ParserService/FeedParser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parseFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parseFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parseFeedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>