trunk/RSSFeedDesktop/Service References/RSSAccountManagerService/RssFeedAccountManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RssFeedAccountManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3152/RssFeedAccountManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3152/RssFeedAccountManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3152/RssFeedAccountManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RSSFeedService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRssFeedAccountManager_logOn_InputMessage">
    <wsdl:part name="parameters" element="tns:logOn" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_logOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOnResponse" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_logOff_InputMessage">
    <wsdl:part name="parameters" element="tns:logOff" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_logOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOffResponse" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_RegisterConfirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterConfirmation" />
  </wsdl:message>
  <wsdl:message name="IRssFeedAccountManager_RegisterConfirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterConfirmationResponse" />
  </wsdl:message>
  <wsdl:portType name="IRssFeedAccountManager">
    <wsdl:operation name="logOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/logOn" message="tns:IRssFeedAccountManager_logOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/logOnResponse" message="tns:IRssFeedAccountManager_logOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/logOff" message="tns:IRssFeedAccountManager_logOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/logOffResponse" message="tns:IRssFeedAccountManager_logOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/Register" message="tns:IRssFeedAccountManager_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/RegisterResponse" message="tns:IRssFeedAccountManager_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/ChangePassword" message="tns:IRssFeedAccountManager_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/ChangePasswordResponse" message="tns:IRssFeedAccountManager_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/ResetPassword" message="tns:IRssFeedAccountManager_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/ResetPasswordResponse" message="tns:IRssFeedAccountManager_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterConfirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRssFeedAccountManager/RegisterConfirmation" message="tns:IRssFeedAccountManager_RegisterConfirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRssFeedAccountManager/RegisterConfirmationResponse" message="tns:IRssFeedAccountManager_RegisterConfirmation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRssFeedAccountManager" type="tns:IRssFeedAccountManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logOn">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/logOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOff">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/logOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterConfirmation">
      <soap:operation soapAction="http://tempuri.org/IRssFeedAccountManager/RegisterConfirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RssFeedAccountManager">
    <wsdl:port name="BasicHttpBinding_IRssFeedAccountManager" binding="tns:BasicHttpBinding_IRssFeedAccountManager">
      <soap:address location="http://localhost:3152/RssFeedAccountManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>